{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funny jokes</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body>


    <aside id="balkep">
        <img src="{% static 'fat-cat.jpg' %}" alt="Tömött macska">
    </aside>

    <header> 
        <h1>The funniest jokes on the whole internet!!!</h1>

    </header>

    <aside id="jobbkep">
        <img src="{% static 'fat-cat.jpg' %}" alt="Tömött macska">
    </aside>


    <main>
        <div id="joke"></div>
        <div id="delivery"></div>
        <div id="category"></div>
        <div id="type"></div>
        <div></div>
        <div id="flags">
            <ul>
                <li>
                    <p id="nsfw"></p>
                </li>
                <li>
                    <p id="religious"></p>
                </li>
                <li>
                    <p id="political"></p>
                </li>
                <li>
                    <p id="racist"></p>
                </li>
                <li>
                    <p id="sexist"></p>
                </li>
                <li>
                    <p id="explicit"></p>
                </li>
            </ul>
        </div>
        
        <button onClick="window.location.reload();">Kattints rá erre a gombra, hogy elolvashass egy másik, még az előbbinél is fantasztikusabb viccet!</button>
    </main>


</body>
</html>